<!-- <h2 class="heading--md">Блог / Категории</h2>
 -->
<table class="table" ng-show="categories.length">
    <thead>
        <tr>
            <th>Название</th>
            <th>Кол-во записей</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in categories">
            <td>
                <a ng-href="[[ 'blog/categories/' + category.slug | frontendUrl:category.lang ]]" class="link" target="_blank">[[ category.name ]]</a>
            </td>
            <td>[[ category.count_posts ]]</td>
            <td>
                <!-- <a ng-href="#/blog/categories/[[ category.id ]]/posts" class="btn--md btn--default">Записи</a> -->
                <a ng-href="#/blog/categories/edit/[[ category.id ]]" class="btn--md btn--default">Редактировать</a>
                <a href="" class="btn--md btn--danger" ng-click="delete($index, category)">Удалить</a>
            </td>
        </tr>
    </tbody>
</table>

<a class="btn--md btn--success" ng-href="#/blog/categories/create">Создать категорию</a>