<h2 class="heading--md">Магазин</h2>

<div class="tabs" ng-controller="TabsCtrl">
    <ul class="tabs__menu">
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 1) }">
            <a href="" ng-click="tabSelected = 1">Заказы</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 2) }">
            <a href="" ng-click="tabSelected = 2">Продукты</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 3) }">
            <a href="" ng-click="tabSelected = 3">Категории</a>
        </li>
    </ul>

    <div class="tabs__item" ng-class="{ active: (tabSelected == 1) }">
        <div ng-controller="StoreOrdersListCtrl" ng-include="'views/store/orders/list.html' | backendAssetsUrl"></div>
    </div>

    <div class="tabs__item" ng-class="{ active: (tabSelected == 2) }" >
        <div ng-controller="StoreProductsListCtrl" ng-include="'views/store/products/list.html' | backendAssetsUrl"></div>
    </div>

     <div class="tabs__item" ng-class="{ active: (tabSelected == 3) }" >
        <div ng-controller="StoreCategoriesListCtrl" ng-include="'views/store/categories/list.html' | backendAssetsUrl"></div>
    </div>
</div>