/* Базовые настройки
---------------------------------------------------------- */

p { margin: 10px 0; }

img {
   /*  max-width: 150px;
   height: auto;
   margin: 0 0 5px 0;
   float: none; */
}

/* Спойлер
---------------------------------------------------------- */

.ck-spoiler {
    padding: 20px 10px 5px;
    border: 1px solid #a2180e;
    background: #d5d5ff url(../img/ck-spoiler.png) repeat-x;
}

    .ck-spoiler__content { display: block; }

/* Аудио, вставка страницы
---------------------------------------------------------- */

.ck-audio, .ck-include-page {
    padding: 10px;
    background: #f3f3f3;
    border: 1px dashed #919699;
}

.ck-include-page:before { content: 'Страница: '; }

.ck-audio:before { content: 'Аудио: '; }

/* Окно
---------------------------------------------------------- */

.ck-div {
    background: #f3f3f3;
    border: 1px dashed #919699;
}

/* Галереи
---------------------------------------------------------- */

div[data-ck-gallery] {
    border: 1px solid #000;
    background-color: #b0d1f7;
    background-repeat: repeat-x;
    padding: 15px;
    height: auto;
}

    div[data-ck-gallery] img {
        max-width: 150px !important;
        display: inline-block;
        vertical-align: top;
    }

    div[data-ck-gallery] img + img {
        margin-left: 15px;
    }


/* Галерея "Классик"
---------------------------------------------------------- */

.ck-gallery-classic {
    background-image: url(../img/ck-gallery-classic.png);
}

/* Галерея "Мини"
---------------------------------------------------------- */

.ck-gallery-mini {
    background-image: url(../img/ck-gallery-mini.png);
}

/* Галерея "Sweetthumbs"
---------------------------------------------------------- */

.ck-gallery-sweetthumbs {
    background-image: url(../img/ck-gallery-sweetthumbs.png);
}

/* Галерея "Фото + текст"
---------------------------------------------------------- */

.ck-gallery-phototext {
    background-image: url(../img/ck-gallery-phototext.png);
}

/* Спойлер далее
---------------------------------------------------------- */

.ck-spoiler-more {
    border: 1px solid #a2180e;
    background: #f7e8b9 url(../img/ck-spoiler-more.png) repeat-x;
    padding: 20px 10px 5px;
}

/* Разделитель
----------------------------------------------------------- */

.line {
    border-bottom: 2px dashed #02c2c8;
}

iframe{
  margin:0 20px 10px 0;
  background:transparent;
  float:left;
}
/*-----------Начало спойлер-----------*/

span.column-delimiter{
  width:100%;
  border-top:1px dashed #acacac;
  display:block;
  padding-bottom:5px;
  margin:10px 0 0 0
}

.columns{
  outline:1px #999 solid;
  background:#f3f3f3
}
/*-----------Начало кнопки-----------*/

.hover-button img{
  display:inline-block;
  border:none;
  outline:none
}
/*-----------Конец кнопки-----------*/
/*--Конец "выбор фото в админке с возможностью установки эффектов"---*/
.comment-block{
text-align:center; 
background:#960a0a;
color:#fff;
font:bold 13px Arial,sans-serif;
padding:15px;
}