html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
body {
  font: 15px/1.2 'Open Sans';
  background: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.line {
  margin: 15px 0;
  width: 100%;
  border: none;
  border-bottom: 1px dashed #c7cbd2;
  outline: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.link,
.link--danger,
.link--success {
  text-decoration: underline;
}
.link:hover,
.link--danger:hover,
.link--success:hover {
  text-decoration: none;
}
.link--danger {
  color: #cd0e0e;
}
.link--success {
  color: #64a657;
}
.image,
.b-product-images__item img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.heading,
.heading--md,
.heading--sm,
.heading--xsm,
.b-modal-window h3,
.b-modal-window h2 {
  margin: 0 0 10px;
}
.heading--md,
.b-modal-window h2 {
  font-size: 30px;
}
.heading--sm {
  font-size: 24px;
}
.heading--xsm,
.b-modal-window h3 {
  font-size: 18px;
}
.table {
  margin: 0 0 20px;
  width: 99.99999%;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
}
.table th,
.table td {
  padding: 10px;
}
.table tbody {
  border: 1px #c7cbd2 dashed;
}
.table tbody td {
  border-bottom: 1px #c7cbd2 dashed;
}
.table tbody tr:hover {
  background: #f8f8f8;
}
.table__item__name {
  width: 50%;
}
.btn,
.btn--default,
.btn--success,
.btn--danger {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: inherit;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn--default {
  background: #f7f7f7;
  -webkit-box-shadow: 0 0 2px #bfbfbf inset;
  box-shadow: 0 0 2px #bfbfbf inset;
}
.btn--default:hover {
  background: #e6e6e6;
}
.btn--success {
  color: #fff;
  background: #64a657;
}
.btn--success:hover {
  background: #5d9a51;
}
.btn--danger {
  color: #fff;
  background: #cd0e0e;
}
.btn--danger:hover {
  background: #bf0d0d;
}
.btn--md {
  font-size: 15px;
  padding: 7px 12px;
  margin: 0 2px;
}
.btn--sm {
  padding: 5px 8px;
  margin: 0 2px;
}
.btn--right {
  float: right;
}
.form-input,
.form-textarea,
.form-select,
tags-input .tags {
  display: block;
  width: 100%;
  padding: 6px 10px;
  outline: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c7cbd2;
}
.form-input:focus,
.form-textarea:focus,
.form-select:focus,
tags-input .tags:focus,
tags-input .tags.focused {
  -webkit-box-shadow: 0 0 4px #d7d5d5;
  box-shadow: 0 0 4px #d7d5d5;
  border-color: #9dcb99;
}
.form-textarea {
  height: 60px;
}
.form-checkbox {
  display: inline-block;
}
.form-label {
  display: block;
  font-weight: bold;
  margin: 4px 0;
  padding: 4px 0;
}
.form-label__desc {
  margin: 0 0 8px;
  display: inline-block;
  color: #a4a4a4;
  font-size: 13px;
  font-weight: normal;
}
.form-label__error {
  border: 1px solid #aa0404;
}
.form-label .form-input,
.form-label .form-select,
.form-label .form-textarea {
  margin: 6px 0;
}
.form-label--inline .form-input,
.form-label--inline .form-select,
.form-label--inline .form-textarea {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.form-group {
  zoom: 1;
}
.form-group:before,
.form-group:after {
  content: "";
  display: table;
}
.form-group:after {
  clear: both;
}
.form-group__item {
  float: left;
  margin-left: 3%;
}
.form-group__item:first-child {
  margin-left: 0;
}
.width--5 {
  width: 3.44445%;
  min-width: 100px;
}
.width--10 {
  width: 8.44445%;
  min-width: 100px;
}
.width--15 {
  width: 13.44445%;
  min-width: 100px;
}
.width--20 {
  width: 18.44445%;
  min-width: 100px;
}
.width--25 {
  width: 23.44445%;
  min-width: 100px;
}
.width--30 {
  width: 28.44445%;
  min-width: 100px;
}
.width--35 {
  width: 33.44445%;
  min-width: 100px;
}
.width--40 {
  width: 38.44445%;
  min-width: 100px;
}
.width--45 {
  width: 43.44445%;
  min-width: 100px;
}
.width--50 {
  width: 48.44445%;
  min-width: 100px;
}
.width--55 {
  width: 53.44445%;
  min-width: 100px;
}
.width--60 {
  width: 58.44445%;
  min-width: 100px;
}
.width--65 {
  width: 63.44445%;
  min-width: 100px;
}
.width--70 {
  width: 68.44445%;
  min-width: 100px;
}
.width--75 {
  width: 73.44445%;
  min-width: 100px;
}
.width--80 {
  width: 78.44445%;
  min-width: 100px;
}
.width--85 {
  width: 83.44445%;
  min-width: 100px;
}
.width--90 {
  width: 88.44445%;
  min-width: 100px;
}
.width--95 {
  width: 93.44445%;
  min-width: 100px;
}
.width--100 {
  width: 98.44445%;
  min-width: 100px;
}
.panel,
.b-auth-form,
.b-ckplugins-list,
.b-product-images {
  display: inline-block;
  margin: 15px 0;
  padding: 10px;
  width: 100%;
  border: 1px dashed #c7cbd2;
  background: #f8f8f8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  min-height: 30px;
  height: 100%;
  zoom: 1;
}
.panel:before,
.b-auth-form:before,
.b-ckplugins-list:before,
.b-product-images:before,
.panel:after,
.b-auth-form:after,
.b-ckplugins-list:after,
.b-product-images:after {
  content: "";
  display: table;
}
.panel:after,
.b-auth-form:after,
.b-ckplugins-list:after,
.b-product-images:after {
  clear: both;
}
.panel__toggle,
.b-auth-form__toggle,
.b-ckplugins-list__toggle,
.b-product-images__toggle {
  position: absolute;
  right: 10px;
  top: 5px;
}
.tabs {
  margin: 0 0 12px;
}
.tabs__menu {
  color: #c7cbd2;
  border-bottom: 3px solid #c7cbd2;
  margin: 0 0 15px;
}
.tabs__menu__item {
  display: inline-block;
  font-size: 16px;
  margin: 0 30px 0 0;
  position: relative;
}
.tabs__menu__item a {
  display: block;
  padding: 5px 0;
}
.tabs__menu__item.active a,
.tabs__menu__item a:hover {
  color: #000;
}
.tabs__menu__item.active a:before {
  content: '';
  width: 100%;
  height: 3px;
  background: #f00d0f;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.tabs__item {
  display: none;
/*padding 12px;
        width 100%;
        border 1px dashed $color-gray;
        background #f8f8f8;
        border-radius 5px;*/
}
.tabs__item.active {
  display: block;
}
.b-auth-form {
  width: 500px;
  height: 192px;
  margin: -96px 0 0 -250px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.b-auth-form .form-input {
  display: inline-block;
  width: 60.555%;
}
.b-ckplugins-list {
  padding: 5px;
  z-index: 999;
}
.b-ckplugins-list.fixed {
  margin: 0;
}
.b-ckplugins-list__item {
  float: left;
  padding: 5px 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}
.b-comments__item {
  margin: 15px 0;
  font-size: 14px;
}
.b-comments__name {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 8px;
}
.b-comments__date {
  font-size: 13px;
  margin: 0 0 8px;
}
.b-comments__content {
  line-height: 1.5;
}
.b-content {
/*padding 65px 20px;*/
  padding: 6px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
.b-content:before,
.b-content:after {
  content: "";
  display: table;
}
.b-content:after {
  clear: both;
}
.b-header + .b-content {
  margin-left: 210px;
}
.b-flash {
  position: fixed;
  right: 15px;
  top: 5px;
  z-index: 99999;
}
.b-flash li {
  padding: 15px;
  margin: 10px 0;
  max-width: 520px;
  color: #000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #ccc;
  font-size: 18px;
  word-break: break-word;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  -ms-transition: 1s linear all;
  transition: 1s linear all;
  -webkit-animation: opacity-enter 250ms ease-out, opacity-leave 250ms 5s ease-out;
  -moz-animation: opacity-enter 250ms ease-out, opacity-leave 250ms 5s ease-out;
  -o-animation: opacity-enter 250ms ease-out, opacity-leave 250ms 5s ease-out;
  -ms-animation: opacity-enter 250ms ease-out, opacity-leave 250ms 5s ease-out;
  animation: opacity-enter 250ms ease-out, opacity-leave 250ms 5s ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.b-flash li.success {
  color: #fff;
  background: rgba(81,157,66,0.8);
}
.b-flash li.error {
  color: #fff;
  background: rgba(205,14,14,0.8);
}
@-moz-keyframes opacity-enter {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes opacity-enter {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes opacity-enter {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes opacity-enter {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes opacity-leave {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes opacity-leave {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes opacity-leave {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes opacity-leave {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
.b-footer {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  -webkit-box-shadow: 0 -1px 1px #ccc;
  box-shadow: 0 -1px 1px #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  display: none;
}
.b-footer__copy {
  float: left;
}
.b-footer__links {
  float: right;
}
.b-gallery__add-item {
  float: right;
  margin: 9px 0 0;
  font-size: 14px;
}
.b-gallery__items {
  width: 650px;
  position: relative;
  zoom: 1;
}
.b-gallery__items:before,
.b-gallery__items:after {
  content: "";
  display: table;
}
.b-gallery__items:after {
  clear: both;
}
.b-gallery__items li {
  float: left;
  margin: 5px;
  width: 120px;
  text-align: center;
  position: relative;
}
.b-gallery__items li .b-gallery__item__remove {
  width: 20px;
  height: 20px;
  background: rgba(205,14,14,0.9);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.b-gallery__items li .b-gallery__item__remove:hover {
  background: #bf0d0d;
}
.b-gallery__items li .b-gallery__item__image {
  height: 120px;
  overflow: hidden;
  -webkit-border-radius: 0 0 0 2px;
  border-radius: 0 0 0 2px;
  border: 1px solid #c7cbd2;
  -webkit-box-shadow: 0 0 8px #b0b6c0;
  box-shadow: 0 0 8px #b0b6c0;
}
.b-gallery__items li .b-gallery__item__image img {
  display: block;
  margin: 0 auto;
}
.b-gallery__items li .form-textarea {
  padding: 5px;
  height: 55px;
}
.b-gallery__items li .form-label {
  margin: 0;
  padding: 0;
}
.b-header {
  height: 100%;
  background: #3b4c3a;
  z-index: 100;
  color: #fff;
  -webkit-box-shadow: 1px 0 5px #ccc;
  box-shadow: 1px 0 5px #ccc;
  position: fixed;
  zoom: 1;
}
.b-header:before,
.b-header:after {
  content: "";
  display: table;
}
.b-header:after {
  clear: both;
}
.b-header__menu__item + .b-header__menu__item {
  border-top: 1px #40523f solid;
}
.b-header__menu__item a {
  display: block;
  padding: 15px;
}
.b-header__menu__item.active a,
.b-header__menu__item a:hover {
  background: #324031;
}
.b-header__right {
  float: right;
}
.b-header__left {
  float: left;
}
.b-header__bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.b-modal-window {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  cursor: default;
  font-weight: normal;
  line-height: 1.2;
/*label
        display block;
        margin 10px 0;*/
}
.b-modal-window input {
  display: inline-block;
  vertical-align: middle;
  width: 380px;
  border: 1px #d6d6d6 solid;
  margin: 7px 0;
}
.b-modal-window input[type="checkbox"],
.b-modal-window input[type="radio"] {
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.b-modal-window textarea {
  width: 100%;
  height: 140px;
  border: 1px #d6d6d6 solid;
}
.b-modal-window input {
  width: 100%;
  border: 1px #d6d6d6 solid;
}
.b-modal-window h3 {
  padding-bottom: 8px;
  border-bottom: 1px dashed #c7cbd2;
  margin: 15px 0;
}
.b-modal-window h2 {
  padding-bottom: 8px;
  border-bottom: 1px dashed #c7cbd2;
}
.b-modal-window hr {
  margin: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0px;
  color: #ccc;
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.b-modal-window-footer {
  text-align: right;
  padding: 8px 0;
  margin: 10px 0 0;
  border-top: 1px #c7cbd2 dashed;
}
.b-modal-window .gallery__add-item {
  float: right;
  font-size: 13px;
}
.b-modal-window .gallery__items {
  height: auto;
  max-width: 900px;
  min-width: 600px;
  zoom: 1;
}
.b-modal-window .gallery__items:before,
.b-modal-window .gallery__items:after {
  content: "";
  display: table;
}
.b-modal-window .gallery__items:after {
  clear: both;
}
.b-modal-window .gallery__items li {
  text-align: center;
  float: left;
  margin: 5px;
  width: 150px;
}
.b-modal-window .gallery__items li a {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 0 0 5px;
}
.b-modal-window .gallery__items li textarea {
  height: 48px;
  width: 100%;
  resize: vertical;
}
.b-modal-window .gallery__items li div {
  margin: 0 0 5px;
  height: 150px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px dashed #c7cbd2;
}
.b-modal-window .gallery__items li div img {
  max-width: 100%;
  max-height: 150px;
  cursor: default;
}
.b-modal {
  padding: 10px;
  text-align: left;
  cursor: default;
  font-weight: normal;
  line-height: 1.2;
/*input
        display inline-block;
        vertical-align middle;
        width 380px;
        border 1px #D6D6D6 solid;
        margin 7px 0;

    input[type="checkbox"], input[type="radio"]
        width auto;
        height auto;
        vertical-align middle;
        margin 0 5px 0 0;

    textarea
        width 100%;
        height 140px;
        border 1px #D6D6D6 solid;

    input
        width 100%;
        border 1px #D6D6D6 solid;*/
/*label
        display block;
        margin 10px 0;*/
/*hr
        margin 3px;
        margin-top 7px;
        margin-bottom 7px;
        padding 0px;
        color #CCC;
        border 0;
        height 1px;
        width 100%;
        background-color #CCC;*/
}
.b-modal__section + .b-modal__section {
  margin-top: 10px;
}
.b-modal__section__heading {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #c7cbd2;
}
.b-modal__bottom {
  text-align: right;
  padding: 8px 0;
  margin: 10px 0 0;
  border-top: 1px #c7cbd2 dashed;
}
.b-modal .gallery__add-item {
  float: right;
  font-size: 13px;
}
.b-modal .gallery__items {
  height: auto;
  max-width: 900px;
  min-width: 600px;
  zoom: 1;
}
.b-modal .gallery__items:before,
.b-modal .gallery__items:after {
  content: "";
  display: table;
}
.b-modal .gallery__items:after {
  clear: both;
}
.b-modal .gallery__items li {
  text-align: center;
  float: left;
  margin: 5px;
  width: 150px;
}
.b-modal .gallery__items li a {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 0 0 5px;
}
.b-modal .gallery__items li textarea {
  height: 48px;
  width: 100%;
  resize: vertical;
}
.b-modal .gallery__items li div {
  margin: 0 0 5px;
  height: 150px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px dashed #c7cbd2;
}
.b-modal .gallery__items li div img {
  max-width: 100%;
  max-height: 150px;
  cursor: default;
}
.b-pagination {
  position: relative;
  text-align: center;
}
.b-pagination__item {
  display: inline-block;
/*margin 0 5px;
        padding 6px;
        background #f7f7f7;
        box-shadow 0 0 2px #bfbfbf inset;
        border-radius 2px;*/
}
.b-pagination__item.disabled a {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  cursor: default;
}
.b-product-images__input {
  width: 100%;
  margin: 10px 0 0;
}
.b-product-images__item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 0 10px;
  font-size: 14px;
}
.b-product-images__item:first-child:after {
  content: 'Основное';
  display: inline-block;
  margin: 8px 0 0;
  font-style: italic;
}
.b-product-images__item img {
  display: block;
}
.b-product-images__item a {
  display: inline-block;
  margin: 0 0 8px;
}
.b-product-images__item + .b-product-images__item {
  padding-left: 25px;
}
.b-search {
  display: inline-block;
  width: 350px;
}
.b-search--right {
  float: right;
}
.b-search__input,
.b-search__select {
  width: 100%;
}
.ng-table-pagination {
  margin: 10px 0;
  text-align: center;
}
.ng-table-pagination li {
  display: inline-block;
  margin: 0 3px;
}
.ng-table-pagination li a {
  display: block;
  padding: 3px 8px;
  -webkit-box-shadow: inset 0 0 2px #bfbfbf;
  box-shadow: inset 0 0 2px #bfbfbf;
  background: #e6e6e6;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.ng-table-pagination li a:hover {
  background: #f7f7f7;
}
.pace .pace-progress {
  background: #f00d0f;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -ms-transition: width 0.4s;
  transition: width 0.4s;
}
.pace-inactive {
  display: none;
}
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
tags-input .hostactive {
  outline: none;
}
tags-input .tags {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  overflow: hidden;
  word-wrap: break-word;
  background-color: #fff;
  padding: 2px;
}
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .tags .tag-item {
  display: inline-block;
  margin: 2px 3px;
  padding: 6px;
  float: left;
  height: 28px;
  background: #64a657;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}
tags-input .tags .tag-item.selected {
  background: #cd0e0e;
}
tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  color: #585858;
}
tags-input .tags .tag-item .remove-buttonactive {
  color: #cd0e0e;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
}
tags-input .tags .input.invalid-tag {
  color: #cd0e0e;
}
tags-input .tags .input-ms-clear {
  display: none;
}
tags-input.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255,0,0,0.6);
  box-shadow: 0 0 3px 1px rgba(255,0,0,0.6);
}
tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}
tags-input .autocomplete .suggestion-item.selected {
  color: #fff;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}
