<h2 class="heading--md">[[ post.id && 'Редактировать запись' || 'Создать запись' ]]</h2>

<div class="tabs" ng-controller="TabsCtrl">
    <ul class="tabs__menu">
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 1) }">
            <a href="" ng-click="tabSelected = 1">Настройки</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 2) }">
            <a href="" ng-click="tabSelected = 2">Редактор</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 3) }">
            <a href="" ng-click="tabSelected = 3" ng-show="post.comments">Комментарии</a>
        </li>
    </ul>

    <!-- Настройки - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item panel" ng-class="{ active: (tabSelected == 1) }">
        <label class="form-label">
            *Название
            <input type="text" class="form-input" ng-model="post.title">
        </label>

        <label class="form-label">
            Превью
            <input type="text" class="form-input" placeholder="Нажмите, чтобы выбрать изображение" readonly="readonly" ng-model="post.preview_img" file-manager>
        </label>

        <label class="form-label">
            *Анонс
            <textarea class="form-textarea" ng-model="post.preview_text"></textarea>
        </label>

        <label class="form-label">
            Теги
            <tags-input ng-model="post.tags" display-property="name" replace-spaces-with-dashes="false"></tags-input>
        </label>

        <label class="form-label">
            *Категория
            <select ng-model="post.category_id" class="form-select">
                <option value="">Выберите категорию</option>
                <option value="[[ category.id ]]" ng-repeat="category in categories" ng-selected="category.id == post.category_id">[[ category.name ]]</option>
            </select>
        </label>

        <label class="form-label" ng-show="post.slug">
            URL
            <input type="text" class="form-input" readonly="readonly" value="[[ 'blog/posts/' + post.slug | frontendUrl:post.category.lang ]]">
        </label>

        <label class="form-label">
            Ключевые слова
            <input type="text" class="form-input" ng-model="post.keywords">
        </label>

        <label class="form-label">
            Описание
            <input type="text" class="form-input" ng-model="post.description">
        </label>

        <label class="form-label">
            Дата
            <input type="text" class="form-input" ng-model="post.added_on">
        </label>

        <label class="form-label">
            <input type="checkbox" ng-model="post.comments_disabled" class="form-checkbox">
            Отключить комментарии
        </label>
    </div>

    <!-- Редактор - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item" ng-class="{ active: (tabSelected == 2) }">
        <div ng-include="'views/partials/ckplugins.html' | backendAssetsUrl"></div>

        <div class="form-label">
            <textarea ng-model="post.content" ck-editor></textarea>
        </div>
    </div>

    <!-- Комментарии - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item" ng-class="{ active: (tabSelected == 3) }" ng-controller="CommentsListCtrl" ng-include="'views/comments/list.html' | backendAssetsUrl" ng-if="post.comments" ng-init="setComments(post.comments)">
    </div>

</div>

<button class="btn--md btn--success" ng-click="save()">Сохранить изменения</button>
<a ng-href="[[ 'blog/posts/' + post.slug | frontendUrl:post.category.lang ]]" class="btn--md btn--default" target="_blank" ng-show="post.id">Открыть на сайте</a>