<!-- <h2 class="heading--md">Блог / Записи</h2>
 -->
<table class="table" ng-show="posts.length" ng-table="tableParams" template-pagination="custom/pagination">
    <tr ng-repeat="post in $data"> 
        <td data-title="'Название'">
            <a ng-href="[[ 'blog/posts/' + post.slug | frontendUrl:post.category.lang ]]" class="link" target="_blank">[[ post.title | limitTo:50 ]]...</a>
        </td>
        <td data-title="'Категория'">
            <a ng-href="[[ 'blog/categories/' + post.category.slug | frontendUrl:post.category.lang ]]" class="link" target="_blank">[[ post.category.name ]]</a>
        </td>
        <td data-title="'Дата'">[[ post.added_on ]]</td>
        <td>
            <a ng-href="#/blog/posts/edit/[[ post.id ]]" class="btn--md btn--default">Редактировать</a>
            <a ng-href="" class="btn--md btn--danger" ng-click="delete($index, post)">Удалить</a>      
        </td>
    </tr>
</table>
<script type="text/ng-template" id="custom/pagination">
    <div ng-include="'views/partials/pagination.html' | backendAssetsUrl"></div>
</script>

<!--  -->
<div class="left">
    <div class="b-search">
        <select ng-model="search_query.category_id" class="form-select b-search__select">
            <option value="">Все категории</option>
            <option value="[[ category.id ]]" ng-repeat="category in categories">[[ category.name ]]</option>
        </select>
        <!-- <input type="text" class="form__input b-search__input" placeholder="Поиск..." ng-model="search_query.$"> -->
    </div>
</div>

<div class="right">
    <a class="btn--md btn--success" ng-href="#/blog/posts/create">Создать запись</a>
</div>