* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #e8e8e8 url(../img/body-bg.jpg); 
    font: 13px/1.3 Arial;
}

img {
    max-width: 100% !important;
    height: auto !important;
}

a {
    color: #2b6b9f;
    text-decoration: none;
}
    a:hover { text-decoration: underline; }

button {
    line-height: inherit;
    border: none;
    outline: none;
    cursor: pointer; 
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
   content: "";
   display: table;
}
.clearfix:after,
.container:after { clear: both; }

/* для IE6-7 */
.clearfix, .container { zoom: 1; }

.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Заголовки
----------------------------------------------------------------------------------- */

.page-heading {
    margin: 0 0 15px;
    padding: 10px;
    padding-left: 40px;
    background: #688499 url(../img/page-heading.jpg) no-repeat;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #364D5C;
    color: #fff;
}

/* Кнопки
----------------------------------------------------------------------------------- */

.btn {
    display: inline-block;
    text-align: center;
}

.btn, 
.btn:hover {
    text-decoration: none;
}

    .btn + .btn {
        margin-left: 5px;
    }

    /* Большая кнопка */

    .btn--large {
        
    }

    /* Средняя кнопка */

    .btn--medium {
        min-width: 100px;
        margin: 5px 0;
        padding: 6px 10px;
        font-size: 13px;
    }

    /* Маленькая кнопка */

    .btn--small {
        
    }
    
    /* Темная кнопка */

    .btn--dark {
        background: #666;
        color: #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

        .btn--dark:hover {
            background: #444;
        }

    /* Светлая кнопка */

    .btn--light {
        background: #b7b7b7;
        color: white;
        font-weight: bold;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

        .btn--light:hover {
            background: #999;
        }

    /* Кнопка "Подробнее" */

    .btn--more {
        background: #e7ad60;
        color: #fff;
        font-weight: bold;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

        .btn--more:hover {
            background: #f28a35;
        }

/* Элементы форм
----------------------------------------------------------------------------------- */

.form {
    /*padding: 16px;
    background: #eee;*/
    margin: 10px 0;
    padding: 20px 0 10px;
    border-top: 1px solid #97aebe;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
}

    .form__heading {
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: bold;
        color: #265f8c;
        text-transform: uppercase;
    }

.form-input {
    display: block;
    margin: 0 0 15px;
    max-width: 100%;
}

.form-input,
.form-textarea,
.form-file {
    display: block;
    padding: 6px 2px;
    margin: 5px 0;
    width: 100%;
    font-size: 13px;
}

.form-input,
.form-textarea {
    border: 1px solid #cccccc;
}

.form-textarea {
    height: 150px;
}

.captcha {
    display: block;
}

.captcha img {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: auto;
    margin-right: 4px;
}

.captcha input {
    display: inline-block;
    vertical-align: middle;
    width: 216px;
}

/* Изображения
----------------------------------------------------------------------------------- */

.img {

}

    .img--bordered { border: 3px solid #fff; }

/* Сетка
----------------------------------------------------------------------------------- */

.col {
    display: inline-block;
    float: left;
    padding-right: 5%;
}

    .col:last-child {
        padding-right: 0;
    }

    .col--1-3 {
        width: 33.3333333%;
    }

    .col--2-3 {
        width: 66.6666666%;
    }

/* Иконки
----------------------------------------------------------------------------------- */

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon + .icon {
    margin-left: 6px;
}

    .icon__ru {
        background: url(../img/icon__ru.jpg) no-repeat;
        width: 34px;
        height: 34px;
    }
        .icon__ru:hover { background-image: url(../img/icon__ru--hover.jpg) }

    .icon__en {
        background: url(../img/icon__en.jpg) no-repeat;
        width: 34px;
        height: 34px;
    }
        .icon__en:hover { background-image: url(../img/icon__en--hover.jpg) }

    .icon__fb {
        background: url(../img/icon__fb.png) no-repeat;
        width: 34px;
        height: 34px;
    }
        .icon__fb:hover { background-image: url(../img/icon__fb--hover.png) }

    .icon__tw {
        background: url(../img/icon__tw.png) no-repeat;
        width: 35px;
        height: 34px;
    }
        .icon__tw:hover { background-image: url(../img/icon__tw--hover.png) }

    .icon__vk {
        background: url(../img/icon__vk.png) no-repeat;
        width: 34px;
        height: 34px;
    }
        .icon__vk:hover { background-image: url(../img/icon__vk--hover.png) }

    .icon__search {
        background: url(../img/icon__search.jpg) no-repeat;
        width: 34px;
        height: 34px;
    }
        .icon__search:hover { background-image: url(../img/icon__search--hover.jpg) }

/* Разделитель
----------------------------------------------------------------------------------- */

.line {
    clear: both;
}

    .line--bordered {
        margin: 10px 0;
        border-bottom: 1px solid #d2d2d2;
    }