/* Галерея "Фото-мини"
-------------------------------------------------------- */

.ck-gallery-mini {

}

    .ck-gallery-mini img {
        display: inline-block;
        vertical-align: top;
        width: 147px;
        height: 147px;
        margin: 10px 0 0 0;
    }

/* Галерея "Фото-классик"
-------------------------------------------------------- */

.ck-gallery-classic {
    height: 400px;
    margin: 0 10px 15px 0;
}

/*.ck-gallery-classic img {
    display inline-block;
    vertical-align: top;
} */

/* Галерея "Sweetthumbs"
-------------------------------------------------------- */

.ck-gallery-sweetthumbs {

}

/* Галерея "Фото+текст"
-------------------------------------------------------- */

.ck-gallery-phototext {
}

    .ck-gallery-phototext__item {
        width: 150px;
        margin: 0 15px 15px 0;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        font-size: 12px;
        font-style: italic;
        color: #0080C2;
        cursor: pointer;
    }

    .ck-gallery-phototext__item + .ck-gallery-phototext__item {  }

        .ck-gallery-phototext img {
            display: block;
            margin: 0 auto 8px;
        }

        .ck-gallery-phototext__item__title {
            font-weight: bold;
            margin: 0 0 2px;
        }

        .ck-gallery-phototext__item__desc {
        
        }

/* Окно
-------------------------------------------------------- */

.ck-div {

}

    .ck-div p {
        padding: 0 0 10px;
        font-size: 13px;
        line-height: 120%;
        color: #3a3a3a;
    }

/* Кнопка
-------------------------------------------------------- */

.ck-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

    .ck-btn:hover {
        text-decoration: none;
    }

/* Спойлер
-------------------------------------------------------- */

.ck-spoiler {
    
}

    .ck-spoiler__content {
        display: none;
        margin: 10px 0 5px 0;
        padding: 5px 0 5px 25px;
        color: #3a3a3a;
        font-size: 12px;
        line-height: 140%;
        text-align: justify;
        border-left: 1px solid #d1d1d1;
    }

    .ck-spoiler__title {
        font-size: 14px;
        color: #265f8c;
    }

    .ck-spoiler__title:hover { color: #a2180e; }

/* Спойлер далее
-------------------------------------------------------- */

.ck-spoiler-more {
    margin: 8px 0;
}
    .ck-spoiler-more__content {
        margin: 8px 0;
        color: #3a3a3a;
        font-size: 12px;
        text-align: justify;
        display: none;
    }

    .ck-spoiler-more__content img {
        width: 150px;
        height: auto;
        margin: 5px 10px 5px 0;
        border: 3px solid #c8c8c8;
        float: left;
        padding: 0;
    }

    .ck-spoiler-more__toggle {
        display: block;
        padding: 3px;
        color: rgb(0,99,156);
        text-decoration: underline;
        cursor: pointer;
        background-color: #dfe3e3;
        background-repeat: no-repeat;
        background-position: right;
    }

        .ck-spoiler-more__toggle.open { background-image: url(../img/ck-spoiler-more-open.png); }

            .ck-spoiler-more__toggle.open:hover { color: rgb(164,36,35); }

        .ck-spoiler-more__toggle.close { background-image: url(../img/ck-spoiler-more-close.png); }

/* Столбцы
-------------------------------------------------------- */

.ck-columns {}

    .ck-columns__item { float: left; }

        .ck-columns__item + .ck-columns__item { padding-left: 10px; }

        .ck-columns__item__content {
            padding: 5px 0 50px 0;
            position: relative;
            border: 1px solid #8095b0;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: #a8a8a8 0px 4px 4px;
            -moz-box-shadow: #a8a8a8 0px 4px 4px;
            box-shadow: #a8a8a8 0px 4px 4px;
            background: #f3f3f3;
        }

            .ck-columns__item__content p {
                margin: 0;
                padding: 6px 10px 0px 10px;
                font-size: 14px;
            }

            .ck-columns__item__content p + p { margin-top: 5px; }

            .ck-columns__item__btn {
                width: 101px;
                height: 25px;
                margin-right: 10px;
                background: url(../img/podrobnee.png);
                position: absolute;
                right: 10px;
                bottom: 15px;
            }

            .ck-columns__item__btn:hover {
                text-decoration: none;
                background: url(../img/podrobnee_2.png);
            }

    .ck-columns__delimiter { display: none; }