@charset "utf-8";

/* h1 {
    color: #fff;
    padding: 10px 10px 10px 40px;
    background: #688499 url(../img/Bac-Big.jpg) no-repeat;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font: bold 14px Arial,sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #364D5C;
}

h2 {
    color: #265f8c;
    margin-bottom: 15px;
    margin-top: 30px;
    padding: 15px 0 0 0;
    font: bold 16px Arial,sans-serif;
    text-transform: uppercase;
    border-top: 1px solid #97aebe;
}

h3 {
    color: #265f8c;
    margin: 10px 15px 10px 0px;
    font: bold 14px Arial,sans-serif;
}

p {
    color: inherit;
    font: 13px/130% Arial,sans-serif;
    padding: 0 0 10px 0px;
}
a {
    text-decoration: none;
    color: inherit;
}
 */
.link {
    color: #2b6b9f;
}

.link:hover,
.num_comments a:hover {
    text-decoration: underline;
}
/*--------начало якоря-----------------*/
#uid {
    visibility: hidden;
}

#Bookmark {
    position: absolute;
    left: 50%;
    width: 50px;
    margin: -80px auto;
}

.bookmark {
    position: absolute;
    left: 50%;
    margin: -30px 0 0 -103px;
}
/*--------конец якоря-----------------*/
td img {
    width: 250px;
    height: auto;
    margin: 3px 15px 5px 0px;
    float: left;
    border: 0px solid #cecece;
}

td {
    border-bottom: 1px solid #cecece;
    padding: 10px 0 5px 0;
}

/*--------Далее начало-----------------*/

/*--------конец Далее----------------*/
/*---------Фотогалерея-Классик--------*/
#galleria img {
    max-width: none;
}

.photo_gallery {
    width: 100%;
    height: 400px;
    margin: 0 10px 15px 0;
    float: left;
}

.photo_gallery img {
    border: none;
    padding: 0;
}
/*---------конец Фотогалерея-Классик--------*/
/*---------Начало фото-мини--------*/
.photo_mini {
    float: left;
    min-width: 200px;
    margin: 0 15px 0 0;
}

.photo_mini img {
    di-webkit-transition-property: prop;
    -o-transition-property: prop;
    transition-property: prop;lay: inline-block;
    vertical-align: top;
    width: 147px;
    height: 147px;
    margin: 10px 0px 0 0px;
}
/*
.photo_mini  .photo{
    margin:10px;
    float: left;
    width: 147px;
    height: 147px;
    border: 5px solid #cecece;
    overflow:hidden;
    }

.photo_mini     .photo:hover {
    border: 5px solid #436f98;
    }

.photo_mini  .photo_w {
    width: 230px;
    height: auto;
    margin: 0px 0 0 -40px;
    border-style: none;
    }

.photo_mini  .photo_h {
    width: auto;
    height: 230px;
    margin: -40px 0 0 0px;
    border-style: none;
    }*/
/*---------Конец фото-мини--------*/
/*---------Начало Новости--------*/
/* .blog-wrap {
    padding: 0px;
    margin: 0px auto 0px auto;
}

.blog-images img {
    border: 3px solid #fff;
    margin: 15px 15px 15px 0;
    position: relative;
    float: left;
}

@media only screen and (min-width:200px) and (max-width:400px) {
 
    .blog-images img {
        width: 100%;
    }
}

.blog-title {
    color: #1e5278;
    font: normal 26px "Times New Roman";
    text-transform: none;
    line-height: 100%;
}

.blog-title a {
    color: #c14728;
    font-family: "Times New roman";
    text-decoration: underline;
}

.blog-title a:hover {
    content: " \00BB";
    text-decoration: none;
}

.blog-date {
    font-family: Arial,sans-serif;
}

.blog-date {
    font-family: Arial,sans-serif;
    margin: 0px 0px 5px 0px;
    color: #b32525;
}

.blog-tags {
    padding: 0 0 0 50px;
    background: url(../img/tegs.png) no-repeat left top 3px;
}

.blog-tags a {
    font: italic 14px/1.35 "Times New Roman";
    text-decoration: underline;
}

.blog-tags a:hover {
    color: #950000;
}

.blog-content {
    color: #3a3a3a;
    font: 14px/130% Arial,sans-serif;
    margin: 15px 0;
}

.blog-content p {
    color: #3a3a3a;
    font: 14px/130% Arial,sans-serif;
    background: transparent;
    padding: 10px 0 10px 0;
}

.blog-more-button {
    margin: 0 15px 10px 0;
    float: left;
}

.blog-more-button a {
    margin: 0 0 10px 0;
    padding: 5px 22px 5px 22px;
    border-radius: 3px;
    text-align: center;
    background: #e7ad60;
    font: normal bolder 13px Arial,sans-serif;
    color: #fff !important;
}

.blog-more-button a:hover {
    text-decoration: none;
    background: #f28a35;
}

.blog-comments-button {
    margin: 0 15px 10px 0;
}

.blog-comments-button a {
    margin: 0 0 10px 0;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    text-align: center;
    background: #b7b7b7;
    font: normal bolder 13px Arial,sans-serif;
    color: #fff !important;
}

.blog-comments-button a:hover {
    text-decoration: none;
    background: #999999;
}

.num_comments {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
    clear: both;
}

.num_comments a {
    color: #2b6b9f;
    text-decoration: none;
    font-family: Arial,sans-serif;
}

 */
/*---------Конец формы отправки--------*/
/*-----------Начало toggle (cпойлер)-----------*/

/*-----------Конец toggle-----------*/
/*-----------Начало Колонки-----------*/
.columns,
.zoom img {
    /*margin-left: 10px;*/
    /*padding: 0 0 0 5px;*/
    width: 100%;
}


/*-----------Конец Колонки-----------*/
/*-----------Начало Разделитель-----------*/
.line {
    clear: both;
    height: 1px;
    width: 100%;
}

.line-border {
    width: 100%;
    height: 1px;
    clear: both;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
}
/*-----------Конец Разделитель-----------*/
.clear,
.iframe-clear {
    clear: both;
}

div.div-window {
    padding: 10px;
    margin: 5px 0 5px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div.div-window p {
    color: #3a3a3a;
    font: 13px/120% Arial,sans-serif;
    padding: 0 0 10px 0px;
}

div.div-window-left {
    margin-right: 14px;
}

div.div-window-right {
    margin-left: 14px;
}
/* конец Окно -------------------- */
/* начало левого меню (menu_left) -------------------- */
/* конец левого меню (menu_left) -------------------- */
/* Начало таблицы -------------------- */
.tablica TABLE {
    width: 100%;
 /* Ширина таблицы */
    border-collapse: collapse/* Убираем двойные линии между ячейками */;
}

.tablica TD {
    color: #585858;
    padding: 3px;
 /* Поля вокруг содержимого таблицы */
    border: 0px solid #ffffff;
 /* Параметры рамки */
    text-align: center;
    font: 14px arial,sans-serif;
    background: #f4e1cc;
}

.tablica TH {
    background: #7aa2c5;
 /* Цвет фона заголовка */
    border: 5px solid #ffffff;
    color: #ffffff;
    padding: 8px 0 8px 0px;
    font: 12px arial,sans-serif;
    text-align: center;
}

.tablica TBODY TR:hover TD {
    color: #000000;
 /* Цвет текста */
    background: #ceddea;
    cursor: default;
    font-weight: ;
    font-family: arial,sans-serif;
    text-align: center;
}

.tablica {
    width: 100%;
 /* Ширина таблицы */
    color: #4e4e4e;
    text-align: justify;
    font: 14px arial,sans-serif;
}
/* Конец таблицы -------------------- */
.hover-button img {
    display: inline-block;
    border: none;
    outline: none;
}
/*-----------Начало Expand-----------*/
.expand {
    position: relative;
    margin-left: 10px;
    margin-bottom: 100px;
    z-index: 500;
}

.positioner {
    position: absolute;
    left: 0;
    top: 0;
}

.slide {
    display: block;
    border: 0;
    text-decoration: none;
    float: left;
    border-right: 10px solid #fff;
}

.last {
    border: 0;
}

.slide img {
    display: block;
    border: 0;
    width: 60px;
    height: auto;
    cursor: pointer;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
}

.slide:hover img {
    width: 480px;
    height: auto;
}
/*-----------Конец Expand-----------*/
/*-----------Начало Zoom-----------*/
.zoom {
    width: 96px;
    height: 64px;
    float: left;
    margin: 250px 20px 20px 250px;
    position: relative;
}

.step1 {
    margin: 0;
    width: 96px;
    height: 64px;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.step2 {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.zoom:hover {
    z-index: 100;
}

.zoom:hover .step1 {
    width: 600px;
    height: 400px;
    margin-left: -252px;
    margin-top: -168px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.zoom:hover .step2 {
    width: 80%;
    height: 80%;
    margin: 40px 60px;
    -webkit-transition: 0.15s 0.3s;
    -moz-transition: 0.15s 0.3s;
    -ms-transition: 0.15s 0.3s;
    -o-transition: 0.15s 0.3s;
    transition: 0.15s 0.3s;
}
/*-----------Конец Zoom-----------*/
/*-----Начало модуля Галерея-фото+текст-----------*/
.gallery_photo_text {
    float: left;
}

@media only screen and (min-width:200px) and (max-width:500px) {
 
    .gallery_photo_text {
        float: none;
    }
}

.gallery_photo_text .img-text-big {
    float: none;
    display: inline-table;
}

@media only screen and (min-width:200px) and (max-width:500px) {
 
    .gallery_photo_text .img-text-big {
        width: 100%;
    }
}

.gallery_photo_text img {
    float: none;
}

.gallery_photo_text a:hover {
    text-decoration: none;
}
/*-----Конец модуля Галерея-фото+текст-----------*/
/*-----Начало модуля фото+текст-----------*/

/*-----Конец модуля фото+текст-----------*/

/*-----Начало модуля ZOOMI-----------*/
.zoomi {
    width: 100px;
}
/*-----Конец модуля ZOOMI-----------*/
/*--Начало Галерея "sweet_thumbnails"-----*/
.sweet_thumbnails {
}

.sweet_thumbnails img {
    display: none;
}
/*--Конец Галерея "sweet_thumbnails"-----*/
/*--Начало "Резиновая картинка"-----*/
p .res_img {
    position: relative;
    width: 100%;
    height: auto;
}

p .res_img img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/*-Конец "Резиновая картинка"-----*/
/* Последние записи в новостях
-------------------------------------------------------------------------- */
.latest-posts {
    list-style: none;
    font: 12px Arial, sans-serif;
}

.latest-posts__item {
    margin: 10px 0;
}

.latest-posts__item div {
    margin: 3px 0;
    padding: 0;
}

.latest-posts__link {
    color: #265f8c;
    word-wrap: break-word;
}

.latest-posts__date {
    color: #808080;
}

img.latest-posts__image-preview {
    float: left;
    width: auto;
    height: auto;
    margin: 2px 10px 10px 0;
}

.latest-posts__more {
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
}

.latest-posts__more:hover {
}
/* Стандартная форма
-------------------------------------------------------------------------- */


.back-link {
    float: right;
    color: #fff;
    font: 12px Arial,sans-serif;
}

p.quotes {
    float: left;
    margin: 10px 15px 15px 0;
    padding: 18px 15px;
    font: italic 18px/1.35 "Times New Roman";
    color: #265f8c;
    text-indent: 45px;
    width: 250px;
    height: auto;
    word-wrap: break-word;
    background: #efefef url(../img/quotes.png) no-repeat left top;
}
