/* @media only screen and (max-width:768px){
	.search{
		display:none;
	}
}

.social{
	border:0px solid green;
	position:absolute;
	margin:-25px 373px 0 0 ;
	right:0;
}

@media only screen and (max-width:768px){
	.social{
		border:0px solid green;
		position:absolute;
		margin:-20px 15px 20px 0;
	}	
}


.citata p{
	max-width:980px; 
	margin:0 auto 20px;
	padding:30px 15px 0 15px;
	position:relative;
	font: italic 19px/1.35 "Times New Roman";
	text-align :right;
	color:#3c627e;
}

.slider_classic_auto{
	border-right:3px solid #d7dde1; 
	padding:0 20px 0 0;
}

.content-main{
	overflow:hidden;
	padding:0 15px 0 15px;
}

.post-main{
	margin-bottom:30px;
	border-right:3px solid #d7dde1; 
	padding:0 20px 20px 0; 	
	margin-bottom:30px;
}

.post-main h2 a{
	color:#1e5278;
	font: normal 26px "Times New Roman"; 	
	text-transform:none;
	text-decoration :none;
	line-height:100%;
}

.post-main h2 a:hover{
	text-decoration :underline;
}

@media only screen and (min-width:481px) and (max-width:768px){
	
	.slider_classic_auto{
		border-right:0px solid #d7d7d7; 
		padding:0;
	}

	.citata{
		margin:-20px auto 10px;
	}

}

@media only screen and (max-width:768px){

	.citata{
		margin:-10px auto 10px;
	}
	.header ul{
		float:none;
	}
	.content-main{
		margin:0 15px;
				padding:0;
	}
}

@media only screen and (min-width:200px) and (max-width:480px){

	.slider_classic_auto{
		border-right:0px solid #d7d7d7; 
		padding:0;
	}
	.header ul{
		float:none;
	}
	.content-main{
		margin:55px 0 0 0;
	}
	
	.post-content{
		padding:20px;
	}
	.post-main {
		padding:0;
		border:none;
	}

	p.quotes{
	width:auto !important;
	margin:10px 0 10px 0 !important;
	}
	.citata{
	display:none;
	}

}

@media only screen and (min-width:200px) and (max-width:400px){

	.post-main img {
		float:none !important;
	}
}
 */