/* Основная часть сайта (wrapper)
-------------------------------------------------------- */

.b-main {}

    .b-main__icons { text-align: right; }

    .b-main__quote {
        font: italic 19px/1.35 'Times New Roman';
        text-align: right;
        color: rgb(60, 98, 126);
        margin: 20px 0;   
    }

/* Шапка
--------------------------------------------------------- */

.b-header {
    margin: 0 0 10px;
    padding: 0 0 10px;
    background: url(../img/header-bg.jpg) center top repeat-x;
    min-height: 237px;
}

    .b-header__clock {
        margin: 0 10px 0 0;
        padding: 5px 0 4px;
        width: 200px;
        background: #e6bf8b; 
        text-align: center;
        color: #845920;
    }

    .b-header__main__logo {
        position: absolute;
        top: 75px;
        left: 88px;
    }

    .b-header__top__logo {
        display: none;
        padding: 2px 20px;
        background: #e7ad60; 
        font: 28px/1.35 "Times New Roman"; 
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

        .b-header__top__logo a { color: inherit; }

/* Большое меню
--------------------------------------------------------- */

.b-top-menu__big {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 9999;
}

    .b-top-menu__big a { 
        color: #fff;
        line-height: 14px; 
    }

    .b-top-menu__big > ul > li {
        float: left;
        width: 100px;
        line-height: 52px;
    }

    .b-top-menu__big > ul > li > a {
        display: inline-block;
        vertical-align: middle;
    }

    .b-top-menu__big ul li:hover { background: rgb(48, 78, 99); }

        /* --- Подменю ---------------------------------- */

        .b-top-menu__big > ul > li > ul {
            display: none;
            width: 200px;
            margin: 10px 0 0 15px;
            background: #fff;
            text-align: left;
            border: 1px solid #E8E8E8;
        }
            
            .b-top-menu__big > ul > li > ul li { border-bottom: 1px dotted #dadada; }

            .b-top-menu__big > ul > li > ul a {
                display: block;
                padding: 11px 15px;
                color: #000;
            }

            .b-top-menu__big > ul > li > ul a:hover {
                color: white;
                text-decoration: none;
            }

/* Маленькое меню
--------------------------------------------------------- */

.b-top-menu__small {
    display: none;
    font-size: 12px;
    font-weight: bold;
    color: #ff7400;
}

    .b-top-menu__small > ul {
        display: none;
        padding: 10px 0;
    }

        .b-top-menu__small > ul > li > a {
            display: block;
            margin: 0 !important;
            padding: 10px 0 10px 15px;
            background: #3d627d;
            color: #cad6dd;
            text-decoration: none;
            border-bottom: 1px dotted #dadada;
        }
        .b-top-menu__small > ul > li > a:hover {
            color: white;
            background: #365770;
        }

            /* --- Подменю ---------------------------------- */

            .b-top-menu__small > ul > li > ul { display: none; }

            .b-top-menu__small > ul > li > ul a {
                display: block;
                padding: 10px 0 10px 30px;
                color: #263f51;
                text-decoration: none;
                background: #7a9fb9;
                border-bottom: 1px dotted #dadada;
            }

            .b-top-menu__small > ul > li > ul a:hover {
                color: white;
                background: #5c88a9;
            }

/* Кнопка раскрытия меню
--------------------------------------------------------- */

.b-top-menu__pull {
    display: none;
    background: #1e3233;
    padding: 11px 20px;
    color: #ff7400;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

    .b-top-menu__pull:hover { text-decoration: none; }

    .b-top-menu__pull:after{
        content: '';
        display: inline-block;
        background: url(../img/icon-menu.png) no-repeat;
        width: 12px;
        height: 13px;
        position: absolute;
        top: 15px; 
        right: 20px;
    }

.b-header__clock, 
.b-header__menu {
    float: left;
}

/* Сайдбар
--------------------------------------------------------- */

.b-sidebar {}

    .b-sidebar__section { margin: 0 0 20px; }

        .b-sidebar__section__heading {
            margin: 0 0 15px;
            color: #354049;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
        }
            
            .b-sidebar__section__heading img { position: absolute; }

            .b-sidebar__section__heading img + div { margin-left: 45px; }

            .b-sidebar__section__heading div {
                background: #e6e9ec url(../img/b-sidebar__section__heading.jpg) no-repeat;
                padding: 10px 12px;
                text-transform: uppercase;
            }

    .b-sidebar__list {}

        .b-sidebar__list__item {
            margin: 10px 0;
        }

/* Сайдбар
--------------------------------------------------------- */

.b-content { 
    position: relative;
}

    .b-content p {
        padding: 10px 0;
    }

/* Футер
--------------------------------------------------------- */

.b-footer {
    margin: 30px 0 0;
    padding: 30px 25px 40px;
    background: rgb(61, 98, 125);
    color: rgb(202, 202, 202);
}

    .b-footer__text p { margin: 0 0 25px; }

/* Футер
--------------------------------------------------------- */

.b-social {

}

    .b-social__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }

/* Поисковая форма
--------------------------------------------------------- */

.b-search { text-align: right; }


    .b-search__input {
        display: inline-block;
        vertical-align: middle;
    }

    .b-search__input {
        width: 82%;
        height: 32px;
        margin: 0 5px 0 0;
        padding: 0 0 0 10px;
        background: #fff;
        border: 1px solid #c1cfcf;
        position: relative;
    }

/* Комментарии
--------------------------------------------------------- */

.b-comments { padding: 0 0 15px; }

    .b-comments__item + .b-comments__item { margin-top: 20px; }

    .b-comments__info {
        margin: 0 0 15px;
        background: #dae2e9;
        border-bottom: 1px #666 solid;
    }

    .b-comments__date {
        display: inline-block;
        padding: 10px;
        border-right: 1px #666 solid;
    }

    .b-comments__author {
        display: inline-block;
        vertical-align middle;
        padding: 0 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .b-comments__content { line-height: 1.4; }

/* Карточка продукта
--------------------------------------------------------- */

.b-product {
    margin: 0 0 25px;
}

    .b-product__name {
        color: #265f8c;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin: 0 0 10px;
    }

    .b-product__info__item {  margin: 10px 0; }

        .b-product__info__item strong { font-weight: bold; }
    
    .b-product__price { font-size: 18px; }

    .b-product__content {
        line-height: 1.4;
    }

    .b-product__add-backet { float: right; }

    .b-product__images {}

        .b-product__images__item {
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 12px;
        }

        /* .b-product__images__item + .b-product__images__item {
            margin-left: 17px;
        } */

/* Превью записи
--------------------------------------------------------- */

.b-post {}

    .b-post + .b-post {
        margin: 40px 0 0;
        padding: 15px 0 0;
        border-top: 1px solid #97aebe;
    }

    .b-post__info { margin: 0 0 20px; }

    .b-post__heading {
        margin: 0 0 10px;
        font: 26px "Times New Roman";
        color: #1e5278;
    }

        .b-post__heading a { color: inherit; }

    .b-post__date {
        margin: 10px 0;
        color: #b32525;
    }

    .b-post__image {
        float: left;
        margin: 0 15px 0 0;
    }

    .b-post__content {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.3;
        color: #3a3a3a;
    }

/* Превью записи
--------------------------------------------------------- */

.b-post-preview {
    padding: 0 0 12px;
    margin: 12px 0;
    border-bottom: solid 1px #d7d7d7;
}

    .b-post-preview__image {
        float: left;
        margin: 0 8px 0 0;
    }

    .b-post-preview__date {
        margin: 0 0 3px;
        color: #808080;
    }

    .b-post-preview__heading {
        word-wrap: break-word;
        overflow: hidden;
        color: #265f8c;
    }

/* Список последних записей
--------------------------------------------------------- */

.b-recent-posts {
    
}

    .b-recent-posts__more {
        text-transform: uppercase;
        margin: 5px 0;
    }

/* Теги
--------------------------------------------------------- */

.b-tags { margin: 10px 0; }

    .b-tags:before {
        content: 'Теги';
        display: inline-block;
        vertical-align: middle;
        padding: 1px 6px;
        background: #7690a2;
        font-size: 11px;
        color: #e3e8ed;
        text-transform: uppercase;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    .b-tags__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2px;
        font: italic 14px/1.35 "Times New Roman";
    }

        .b-tags__item a { text-decoration: underline; }

            .b-tags__item a:hover { text-decoration: none; }

/* Пагинация
--------------------------------------------------------- */

.b-pagination { margin: 20px 0; }

    .b-pagination__item { display: inline-block; }

        .b-pagination__item + .b-pagination__item {
            margin-left: 3px;
        }

        .b-pagination__item a {
            text-decoration: none;
            padding: 2px 6px;
            background: #999;
            color: #fff;
            font-weight: bold;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .b-pagination__item a:hover { background: #8d8d8d; }

        .b-pagination__item.active a { background: #e7ad60; }

/* Счетчик
--------------------------------------------------------- */

.countdown {
    margin: 0 auto;
    background: url(../img/countdown-bg.png) no-repeat;
    width: 239px;
    height: 71px;
    color: #eff1f0;
    font: bold 21px/0.9 Arial;
    letter-spacing :-1px;
    padding: 17px 0 0 193px;
    text-transform: lowercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}