@media only screen and (max-width: 1000px) {
    
    /* Часы
    ------------------------------------- */

    .b-header__clock { display: none; }

    .b-main { padding: 0 10px; }

}

@media only screen and (min-width: 768px) {
    
    .b-content:before {
        content: '';
        width: 3px;
        height: 100%;
        background: rgb(215, 221, 225);
        position: absolute;
        right: 4.5%;
        top: 0;
    }
}

@media only screen and (max-width: 768px) {
    
    /* Шапка
    ------------------------------------- */

    .b-header { min-height: inherit; }
        
        .b-header__top__logo { display: block; }

        .b-header__main__logo { display: none; }

        .b-header__menu { float: none; }

    /* Верхнее меню
    ------------------------------------- */

    .b-top-menu__big { display: none; }

    .b-top-menu__small { display: block; }

    .b-top-menu__pull { display: block; }

    /* Сетка
    ------------------------------------- */
    
    .col {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    /* Форма поиска
    ------------------------------------- */

    .b-search { display: none; }

    /* Изображение в записи
    ------------------------------------- */

   /* .b-post__content img {
        display: block;
        width: auto !important;
        float: none !important;
        margin: 10px  0!important;
    }*/
}

@media only screen and (max-width: 320px) {

    .b-post__image {
        display: block;
        float: none;
        margin: 10px 0;
    }

}
