<h2 class="heading--md">[[ page.id && 'Редактировать страницу' || 'Создать страницу' ]]</h2>

<div class="tabs" ng-controller="TabsCtrl">
    <ul class="tabs__menu">
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 1) }">
            <a href="" ng-click="tabSelected = 1">Настройки</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 2) }">
            <a href="" ng-click="tabSelected = 2">Редактор</a>
        </li>
    </ul>

    <div class="tabs__item panel" ng-class="{ active: (tabSelected == 1) }">
        <label class="form-label">
            *Название
            <input type="text" class="form-input" ng-model="page.title">
        </label>

        <label class="form-label">
            *Язык
            <select ng-model="page.lang" class="form-select">
                <option value="">Выберите язык</option>
                <option value="[[ code ]]" ng-repeat="(code, name) in langs" ng-selected="page.lang == code">[[ name ]]</option>
            </select>
        </label>

        <label class="form-label">
            *Шаблон
            <select ng-model="page.layout_id" class="form-select">
                <option value="">Выберите шаблон</option>
                <option value="[[ layout.id ]]" ng-repeat="layout in layouts" ng-selected="page.layout_id == layout.id">[[ layout.name ]]</option>
            </select>
        </label>

        <label class="form-label" ng-show="page.slug">
            URL
            <input type="text" class="form-input" readonly="readonly" value="[[ page.slug + '.html' | frontendUrl:page.lang ]]">
        </label>

        <label class="form-label">
            Ключевые слова
            <input type="text" class="form-input" ng-model="page.keywords">
        </label>

        <label class="form-label">
            Описание
            <input type="text" class="form-input" ng-model="page.description">
        </label>

        <label class="form-label">
            <input type="checkbox" ng-model="page.is_index">
            Установить главной
        </label>
    </div>

    <div class="tabs__item" ng-class="{ active: (tabSelected == 2) }">
        <div ng-include="'views/partials/ckplugins.html' | backendAssetsUrl"></div>

        <div class="form-label">
            <textarea ng-model="page.content" ck-editor></textarea>
        </div>
    </div>
</div>

<button class="btn--md btn--success" ng-click="save()">Сохранить изменения</button>
<a ng-href="[[ page.slug + '.html' | frontendUrl:page.lang ]]" class="btn--md btn--default" target="_blank" ng-show="page.id">Открыть на сайте</a>