<h2 class="heading--md">Страницы</h2>

<table class="table" ng-show="pages.length">
    <thead>
        <tr>
            <th>Название</th>
            <th>Язык</th>
            <!-- <th>Дата</th> -->
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="page in pages">
            <td><a ng-href="[[ page.slug + '.html' | frontendUrl:page.lang ]]" class="link" target="_blank">[[ page.title ]]</a></td>
            <td>[[ page.lang | lang]]</td>
            <td>
                <a ng-href="#/pages/edit/[[ page.id ]]" class="btn--default btn--md">Редактировать</a>
                <a ng-href="" class="btn--danger btn--md" ng-click="delete($index, page)">Удалить</a>      
            </td>
        </tr>
    </tbody>
</table>

<a class="btn--success btn--md" ng-href="#/pages/create">Создать страницу</a>