.b-auth-form
    @extend .panel
    width 500px;
    height 192px;
    margin -96px 0 0 -250px;
    padding 50px;
    position absolute;
    top 50%;
    left 50%;
    //box-shadow 0 0 1px $color-gray;

    .form-input
        display inline-block;
        width 60.555%;