.b-ckplugins-list
    @extend .panel;
    padding 5px;
    z-index 999;

    &.fixed
        margin 0;

    &__item
        float left;
        padding 5px 2px;
        box-sizing border-box;
        text-align center;
        font-size 14px;