.b-comments
    &__item
        margin 15px 0;
        font-size 14px;

    &__name
        display inline-block;
        font-weight bold;
        margin 0 0 8px;

    &__date
        font-size 13px;
        margin 0 0 8px;

    &__content
        line-height 1.5;