.b-flash
    position fixed;
    right 15px;
    top 5px;
    z-index 99999;
    
    li
        padding 15px;
        margin 10px 0;
        max-width 520px;
        color $color-black;
        border-radius 3px;
        background #fff;
        box-shadow 0 0 7px #ccc;
        font-size 18px;
        word-break break-word;
        transition 1s linear all;
        animation opacity-enter 250ms ease-out, opacity-leave 250ms 5s ease-out;
        animation-fill-mode forwards;

        &.success
            color $color-white;
            background rgba(#519d42, 0.8);

        &.error
            color $color-white;
            background rgba(#cd0e0e, 0.8);

@keyframes opacity-enter {
    0% { 
        opacity 0; 
    } 
    100% { 
        opacity 1; 
    }
}

@keyframes opacity-leave {
    0% { 
        opacity 1; 
    }

    100% {
        opacity 0; 
    }
}