.b-footer
    width 100%;
    padding 10px 20px;
    font-size 14px;
    box-shadow 0 -1px 1px #ccc;
    position fixed;
    bottom 0;
    left 0;
    z-index 500;
    display none;

    &__copy
        float left;
        
    &__links
        float right;
