.b-gallery
    &__add-item
        float right;
        margin 9px 0 0;
        font-size 14px;

    &__items
        width 130px * 5;
        position relative;
        clearfix();

        li
            float left;
            margin 5px;
            width 120px;
            text-align center;
            position relative;
            
            .b-gallery__item
                &__remove
                    width 20px;
                    height 20px;
                    background rgba($color-danger, 0.9);
                    font-size 14px;
                    text-align center;
                    text-decoration none;
                    color $color-white;
                    border-radius 2px;
                    position absolute;
                    right 1px;
                    top 1px;

                    &:hover
                        background darken($color-danger, 7%);

                &__image
                    height 120px;
                    overflow hidden;
                    border-radius 0 0 0 2px;
                    border 1px solid #c7cbd2;
                    box-shadow 0 0 8px darken($color-gray, 10%);

                    img
                        display block;
                        margin 0 auto;

            .form-textarea
                padding 5px;
                height 55px;

            .form-label
                margin 0;
                padding 0; 