.b-header
    height 100%;
    background $header-bg;
    z-index 100;
    color #fff;
    box-shadow 1px 0 5px #ccc;
    position fixed;
    clearfix();
    
    &__menu
        &__item
            & + & 
                border-top 1px lighten($header-bg, 3%) solid;

            a
                display block;
                padding 15px;

            &.active a, a:hover
                background darken($header-bg, 16%);

    &__right
        float right;

    &__left
        float left;

    &__bottom
        width 100%;
        position absolute;
        left 0;
        bottom 0;
