.b-modal-window
    padding 10px; 
    text-align left; 
    font-weight bold;
    cursor default;
    font-weight normal;
    line-height 1.2;

    input
        display inline-block;
        vertical-align middle;
        width 380px;
        border 1px #D6D6D6 solid;
        margin 7px 0;

    input[type="checkbox"], input[type="radio"]
        width auto;
        height auto;
        vertical-align middle;
        margin 0 5px 0 0;

    textarea
        width 100%;
        height 140px;
        border 1px #D6D6D6 solid;

    input
        width 100%;
        border 1px #D6D6D6 solid;

    /*label
        display block;
        margin 10px 0;*/

    h3
        @extend .heading--xsm;
        padding-bottom 8px;
        border-bottom 1px dashed $color-gray;
        margin 15px 0;

    h2
        @extend .heading--md;
        padding-bottom 8px;
        border-bottom 1px dashed $color-gray;

    hr
        margin 3px;
        margin-top 7px;
        margin-bottom 7px;
        padding 0px;
        color #CCC;
        border 0;
        height 1px;
        width 100%;
        background-color #CCC;

    &-footer
        text-align right;
        padding 8px 0;
        margin 10px 0 0;
        border-top 1px $color-gray dashed;

    .gallery
        &__add-item
            float right;
            font-size 13px;

        &__items
            height auto;
            max-width 900px;
            min-width 600px;   
            clearfix(); 

            li
                text-align center;
                float left;
                margin 5px;
                width 150px;

                a 
                    display inline-block;
                    font-size 14px;
                    cursor pointer;
                    margin 0 0 5px;

                textarea
                    height 48px;
                    width 100%;
                    resize vertical;

                div
                    margin 0 0 5px;
                    height 150px;
                    box-sizing content-box;
                    border 1px dashed $color-gray;


                    img
                        max-width 100%;
                        max-height 150px;
                        cursor default;