.b-pagination
    position relative;
    text-align center;

    &__item
        display inline-block;

        &.disabled a
            opacity 0.6;
            cursor default;
        /*margin 0 5px;
        padding 6px;
        background #f7f7f7;
        box-shadow 0 0 2px #bfbfbf inset;
        border-radius 2px;*/