.b-product-images
    @extend .panel;

    &__input
        width 100%;
        margin 10px 0 0;

    &__item
        display inline-block;
        vertical-align top;
        text-align center;
        margin 0 0 10px;
        font-size 14px;

        &:first-child
            &:after
                content 'Основное';
                display inline-block;
                margin 8px 0 0;
                font-style italic;

        img
            @extend .image;
            display block;

        a
            display inline-block;
            margin 0 0 8px;

        & + &
            padding-left 25px;