<h2 class="heading--md">Настройки</h2>

<div class="tabs" ng-controller="TabsCtrl">
    <ul class="tabs__menu">
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 1) }">
            <a href="" ng-click="tabSelected = 1">Основные</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 2) }">
            <a href="" ng-click="tabSelected = 2">Блог</a>
        </li>
    </ul>

    <div class="tabs__item panel" ng-class="{ active: (tabSelected == 1) }">
        <label class="form-label">
            *Путь к панели управления
            <input type="text" class="form-input" ng-model="settings.backend.path">
            <p class="form-label__desc">Пример: admin</p>
        </label>

        <label class="form-label">
            Новый пароль
            <input type="password" class="form-input" ng-model="settings.backend.password">
            <p class="form-label__desc">Если вы не хотите изменять пароль, оставьте это поле пустым.</p>
        </label>

        <label class="form-label">
            *Контактный E-mail
            <input type="text" class="form-input" ng-model="settings.base.email">
        </label>
    </div>

    <div class="tabs__item panel" ng-class="{ active: (tabSelected == 2) }">
        <label class="form-label">
            *Кол-во записей на странице
            <input type="text" class="form-input" ng-model="settings.blog.posts_per_page">
        </label>
    </div>
</div>

<button class="btn--md btn--success" ng-click="save()">Сохранить изменения</button>
<a ng-href="[[ page.slug + '.html' | frontendUrl:page.lang ]]" class="btn--md btn--default" target="_blank" ng-show="page.id">Открыть на сайте</a>