<h2 class="heading--md">[[ product.id && 'Редактировать продукт' || 'Добавить продукт' ]]</h2>

<div class="tabs b-product" ng-controller="TabsCtrl">
    <ul class="tabs__menu">
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 1) }">
            <a href="" ng-click="tabSelected = 1">Общая информация</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 2) }">
            <a href="" ng-click="tabSelected = 2">Изображения</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 3) }">
            <a href="" ng-click="tabSelected = 3">Описание</a>
        </li> 
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 4) }">
            <a href="" ng-click="tabSelected = 4" ng-show="product.comments">Комментарии</a>
        </li>
    </ul>

    <!-- Настройки - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item panel" ng-class="{ active: (tabSelected == 1) }">

        <label class="form-label">
            *Название
            <input type="text" class="form-input" ng-model="product.name">
        </label>

        <label class="form-label">
            *Стоимость
            <input type="text" class="form-input" ng-model="product.price">
        </label>

        <label class="form-label">
            *Категория
            <select ng-model="product.category_id" class="form-select">
                <option value="">Выберите категорию</option>
                <option value="[[ category.id ]]" ng-repeat="category in categories" ng-selected="category.id == product.category_id">[[ category.name ]]</option>
            </select>
        </label>

        <label class="form-label">
            Теги
            <tags-input ng-model="product.tags" display-property="name" replace-spaces-with-dashes="false"></tags-input>
        </label>

        <label class="form-label" ng-show="product.slug">
            URL
            <input type="text" class="form-input" readonly="readonly" value="[[ 'store/products/' + product.slug | frontendUrl:product.category.lang ]]">
        </label>

        <label class="form-label">
            Ключевые слова
            <input type="text" class="form-input" ng-model="product.keywords">
        </label>

        <label class="form-label">
            Описание
            <input type="text" class="form-input" ng-model="product.description">
        </label>

        <label class="form-label">
            <input type="checkbox" ng-model="product.comments_disabled">
            Отключить комментарии
        </label>
    </div>

    <!-- Изображения - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item b-product-images" ng-class="{ active: (tabSelected == 2) }">
        <ul ui-sortable ng-model="product.images">
            <li class="b-product-images__item" ng-repeat="image in product.images">
                <a ng-href="" ng-click="removeImage($index)" class="link--danger">удалить</a>

                <img ng-src="[[ 'image/?size=100x100&path=' + image | frontendUrl ]]" alt="">
            </li>
        </ul>

        <input type="text" class="form-input b-product-images__input" ng-model="newImageUrl" ng-change="addImage(newImageUrl);" placeholder="Нажмите, чтобы выбрать изображение" readonly="readonly" file-manager>
    </div>

    <!-- Редактор - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item" ng-class="{ active: (tabSelected == 3) }">
        <div ng-include="'views/partials/ckplugins.html' | backendAssetsUrl"></div>

        <div class="form-label">
            <textarea ng-model="product.content" ck-editor></textarea>
        </div>
    </div>

    <!-- Комментарии - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="tabs__item" ng-class="{ active: (tabSelected == 4) }" ng-controller="CommentsListCtrl" ng-include="'views/comments/list.html' | backendAssetsUrl" ng-if="product.comments" ng-init="setComments(product.comments)">
    </div>

</div>

<button class="btn--md btn--success" ng-click="save()">Сохранить изменения</button>
<a ng-href="[[ 'store/products/' + product.slug | frontendUrl:product.category.lang ]]" class="btn--md btn--default" target="_blank" ng-show="product.id">Открыть на сайте</a>