<table class="table" ng-show="products.length" ng-table="tableParams" template-pagination="custom/pagination">
    <tr ng-repeat="product in $data">
        <td data-title="'Название'">
            <a ng-href="[[ 'store/products/' + product.slug | frontendUrl:product.category.lang ]]" class="link" target="_blank">[[ product.name | limitTo:50 ]]...</a>
        </td>
        <td data-title="'Категория'">
            <a ng-href="[[ 'store/categories/' + product.category.slug | frontendUrl:product.category.lang ]]" class="link" target="_blank">[[ product.category.name ]]</a>
        </td>
        <td data-title="'Цена'">[[ product.price ]]руб</td>
        <td>
            <a ng-href="#/store/products/edit/[[ product.id ]]" class="btn--md btn--default">Редактировать</a>
            <a ng-href="" class="btn--md btn--danger" ng-click="delete($index, product)">Удалить</a>      
        </td>
    </tr>
</table>
<script type="text/ng-template" id="custom/pagination">
    <div ng-include="'views/partials/pagination.html' | backendAssetsUrl"></div>
</script>

<!--  -->
<div class="left">
    <div class="b-search">
        <select ng-model="search_query.category_id" class="form-select b-search__select">
            <option value="">Все категории</option>
            <option value="[[ category.id ]]" ng-repeat="category in categories">[[ category.name ]]</option>
        </select>
        <!-- <input type="text" class="form__input b-search__input" placeholder="Поиск..." ng-model="search_query.$"> -->
    </div>
</div>

<div class="right">
    <a class="btn--md btn--success" ng-href="#/store/product/create">Добавить продукт</a>
</div>