<h2 class="heading--md">Блог</h2>

<div class="tabs" ng-controller="TabsCtrl">
    <ul class="tabs__menu">
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 1) }">
            <a href="" ng-click="tabSelected = 1">Записи</a>
        </li>
        <li class="tabs__menu__item" ng-class="{ active: (tabSelected == 2) }">
            <a href="" ng-click="tabSelected = 2">Категории</a>
        </li>
    </ul>

    <div class="tabs__item" ng-class="{ active: (tabSelected == 1) }">
        <div ng-controller="BlogPostsListCtrl" ng-include="'views/blog/posts/list.html' | backendAssetsUrl"></div>
    </div>

    <div class="tabs__item" ng-class="{ active: (tabSelected == 2) }" >
        <div ng-controller="BlogCategoriesListCtrl" ng-include="'views/blog/categories/list.html' | backendAssetsUrl"></div>
    </div>
</div>