<div class="b-comments">
    <div class="b-comments__item panel" ng-repeat="comment in comments">
        <span class="b-comments__name">[[ comment.name ]]</span> 

        <span class="b-comments__email">(<a href="#">[[ comment.email ]]</a>)</span>

        <a ng-href="" ng-click="delete($index, comment)" class="link--danger">удалить</a>

        <div class="b-comments__date">[[ comment.created_at ]]</div>

        <div class="b-comments__content">[[ comment.content ]]</div>
    </div>
</div>