.ng-table-pagination
    margin 10px 0;
    text-align center;

    li
        display inline-block;
        margin 0 3px;

        a
            display block;
            padding 3px 8px;
            box-shadow inset 0 0 2px #bfbfbf;
            background #e6e6e6;
            border-radius 2px;

            &:hover
                background #f7f7f7;
                