.pace .pace-progress
    background #F00D0F;
    position fixed;
    z-index 2000;
    top 0;
    left 0;
    height 2px;
    transition width 0.4s;

/*html.ng-scope .pace .pace-progress
    top 48px;*/

.pace-inactive
    display none;

.pace
    pointer-events none;
    user-select none;

/*
.pace .pace-activity
    display block;
    position fixed;
    z-index 2000;
    top 55px;
    right 15px;
    width 14px;
    height 14px;
    border solid 2px transparent;
    border-top-color #F00D0F;
    border-left-color #F00D0F;
    border-radius 10px;
    animation pace-spinner 400ms linear infinite;

@keyframes pace-spinner {
    0% { 
        transform rotate(0deg); 
        transform rotate(0deg); 
    }
    100% { 
        transform rotate(360deg); 
        transform rotate(360deg); 
    }
}*/