tags-input .host
    position relative;
    margin-top 5px;
    margin-bottom 5px;

tags-input .hostactive
    outline none;

tags-input .tags
    @extend .form-input;
    appearance textfield;
    overflow hidden;
    word-wrap break-word;
    background-color white;
    padding 2px;

tags-input .tags.focused
    @extend .form-input:focus;
/*outline none;
box-shadow 0 0 3px 1px rgba(5, 139, 242, 0.6);*/

tags-input .tags .tag-list
    margin 0;
    padding 0;
    list-style-type none;

tags-input .tags .tag-item
    display inline-block;
    margin 2px 3px;
    padding 6px;
    float left;
    height 28px;
    background #64a657;
    color $color-white;   
    font-weight normal;
    font-size 14px;

tags-input .tags .tag-item.selected
    background #cd0e0e;

tags-input .tags .tag-item .remove-button
    margin 0 0 0 5px;
    padding 0;
    border none;
    background none;
    cursor pointer;
    vertical-align middle;
    color #585858;

tags-input .tags .tag-item .remove-buttonactive
    color #cd0e0e;

tags-input .tags .input
    border 0;
    outline none;
    margin 2px;
    padding 0;
    padding-left 5px;
    float left;
    height 26px;

tags-input .tags .input.invalid-tag
    color #cd0e0e;

tags-input .tags .input-ms-clear
    display none;

tags-input.ng-invalid .tags
    box-shadow 0 0 3px 1px rgba(255, 0, 0, 0.6);


tags-input .autocomplete
    margin-top 5px;
    position absolute;
    padding 5px 0;
    z-index 999;
    width 100%;
    background-color white;
    border 1px solid rgba(0, 0, 0, 0.2);
    box-shadow 0 5px 10px rgba(0, 0, 0, 0.2);

tags-input .autocomplete .suggestion-list
    margin 0;
    padding 0;
    list-style-type none;

tags-input .autocomplete .suggestion-item
    padding 5px 10px;
    cursor pointer;
    white-space nowrap;
    overflow hidden;
    text-overflow ellipsis;
    font 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color black;
    background-color white;

tags-input .autocomplete .suggestion-item.selected
    color white;
    background-color #0097cf;

tags-input .autocomplete .suggestion-item.selected em
    color white;
    background-color #0097cf;

tags-input .autocomplete .suggestion-item em
    font normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color black;
    background-color white;

/*div.tagsinput
    border 1px solid $color-gray; 
    padding 1px;
    margin 8px 0;
    border-radius 5px;
    box-sizing border-box;
    background $color-white;

    span.tag
        border-radius 3px;
        display inline-block;
        padding 5px;
        background #cde69c; 
        color #638421; 
        margin 5px;
        font-size 13px;

        a 
            font-weight bold; 
            color #82ad2b;
            font-size 11px;

    input
        width 85px; 
        margin 0px; 
        border 1px solid transparent; 
        padding 5px; 
        background  transparent;
        color color-gray; 
        outline none;
        margin-right 5px; 
        margin-bottom 5px; 

    div
        display inline-block;
     

    .not_valid
        background  #FBD8DB !important; 
        color  #90111A !important;
    
*/