global-reset();

*
    box-sizing border-box;
    font-family inherit;
    font-size inherit;
    color inherit;

body
    font 15px/1.2 'Open Sans';
    background #fff;

img
    max-width 100%;
    height auto;

.left
    float left;

.right
    float right;

/* Линия 
-------------------------------------------------------- */

.line
    margin 15px 0;
    width 100%;
    border none;
    border-bottom 1px dashed $color-gray;
    outline none;

/* Ссылки 
-------------------------------------------------------- */

a
    cursor pointer;
    text-decoration none;

.link
    text-decoration underline;

    &:hover
        text-decoration none;

.link--danger
    @extend .link;
    color #cd0e0e;

.link--success
    @extend .link;
    color #64a657;

.image
    border-radius 2px;
    //box-shadow 0 0 4px #6e8f6f;
/*    &:hover
        box-shadow 0 0 6px #bbdfbc;
*/
/* Заголовки 
-------------------------------------------------------- */

.heading 
    margin 0 0 10px;

.heading--md
    @extend .heading;
    font-size 30px;
    
.heading--sm
    @extend .heading;
    font-size 24px;

.heading--xsm
    @extend .heading;
    font-size 18px;
    
/* Таблицы 
-------------------------------------------------------- */

.table
    margin 0 0 20px;
    width 99.99999%;
    border-collapse collapse;

    th
        font-weight bold;

    th, td
        padding 10px;

    tbody
        border 1px $color-gray dashed;
        
        td
            border-bottom 1px $color-gray dashed;

    tbody tr:hover
        background $color-gray-lighter;

    &__item
        &__name
            width 50%;

/* Кнопки 
-------------------------------------------------------- */

.btn
    display inline-block;
    border none;
    outline none;
    cursor pointer;
    line-height inherit;
    border-radius 2px;

.btn--default
    @extend .btn;
    background #f7f7f7;
    box-shadow 0 0 2px #bfbfbf inset;

    &:hover
        background darken(#f7f7f7, 7%);
        
.btn--success
    @extend .btn;
    color $color-white;
    background #64a657;

    &:hover
        background darken(#64a657, 7%);

.btn--danger
    @extend .btn;
    color $color-white;
    background $color-danger;

    &:hover
        background darken($color-danger, 7%);

.btn--md
    font-size 15px;
    padding 7px 12px;
    margin 0 2px;

.btn--sm
    padding 5px 8px;
    margin 0 2px;

.btn--right
    float right;

/* Форма 
-------------------------------------------------------- */

.form-input, .form-textarea, .form-select
    display block;
    width 100%;
    padding 6px 10px;
    outline none;
    border-radius 2px;
    border 1px solid $color-gray;

    &:focus
        box-shadow 0 0 4px #d7d5d5;
        border-color #9dcb99;

.form-textarea
    height 60px;

.form-checkbox
    display inline-block;

.form-label
    display block;
    font-weight bold;
    margin 4px 0;
    padding 4px 0;

    &__desc
        margin 0 0 8px;
        display inline-block;
        color #a4a4a4;
        font-size 13px;
        font-weight normal;

    &__error
        border 1px solid #aa0404;

    .form-input, .form-select, .form-textarea
        margin 6px 0;

    &--inline
        .form-input, .form-select, .form-textarea
            display inline-block;
            vertical-align middle;
            margin 0;

.form-group
    clearfix();

    &__item
        float left;
        margin-left 3%;

        &:first-child
            margin-left 0;

for $width in 1..20
    .width--{$width * 5}
        width unit(($width * 5) - 1.55555, '%');
        min-width 100px;

/* Панели 
-------------------------------------------------------- */

.panel
    display inline-block;
    margin 15px 0;
    padding 10px;
    width 100%;
    border 1px dashed $color-gray;
    background $color-gray-lighter;
    border-radius 5px;
    position relative;
    min-height 30px;
    height 100%;
    clearfix();

    &__toggle
        position absolute;
        right 10px;
        top 5px;

/* Вкладки 
-------------------------------------------------------- */

.tabs
    margin 0 0 12px;

    &__menu
        color $color-gray;
        border-bottom 3px solid @color;
        margin 0 0 15px;

        &__item
            display inline-block;
            font-size 16px;
            margin 0 30px 0 0;
            position relative;

            a
                display block;
                padding 5px 0;

            &.active a, a:hover
                color $color-black;

            &.active a:before
                content '';
                width 100%;
                height 3px;
                background #F00D0F;
                position absolute;
                bottom -3px;
                left 0;

    &__item
        display none;
        /*padding 12px;
        width 100%;
        border 1px dashed $color-gray;
        background #f8f8f8;
        border-radius 5px;*/

        &.active
            display block;
