<h2 class="heading--md">[[ layout.id && 'Редактировать шаблон' || 'Создать шаблон' ]]</h2>

<div class="panel">
    <label class="form-label">
        *Название
        <input type="text" class="form-input" ng-model="layout.name">
    </label>

    <label class="form-label">
        *Путь
        <input type="text" class="form-input" ng-model="layout.path">
    </label>
</div>

<button class="btn--md btn--success" ng-click="save()">Сохранить изменения</button>