<h2 class="heading--md">Шаблоны</h2>

<table class="table" ng-show="layouts.length">
    <thead>
        <tr>
            <th>Название</th>
            <th>Путь к шаблону</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="layout in layouts">
            <td>[[ layout.name ]]</td>
            <td>[[ layout.path ]]</td>
            <td>
                <a ng-href="#/layouts/edit/[[ layout.id ]]" class="btn--default btn--md">Редактировать</a>
                <a ng-href="" class="btn--danger btn--md" ng-click="delete($index, layout)">Удалить</a>      
            </td>
        </tr>
    </tbody>
</table>

<a class="btn--success btn--md" ng-href="#/layouts/create">Создать шаблон</a>
