<h2 class="heading--md">[[ category.id && 'Редактировать категорию' || 'Создать категорию' ]]</h2>

<div class="panel">
    <label class="form-label">
        *Название
        <input type="text" class="form-input" ng-model="category.name">
    </label>

    <label class="form-label">
        *Язык
        <select ng-model="category.lang" class="form-select">
            <option value="">Выберите язык</option>
            <option value="[[ code ]]" ng-repeat="(code, name) in langs" ng-selected="category.lang == code">[[ name ]]</option>
        </select>
    </label>

    <label class="form-label" ng-show="category.slug">
        URL
        <input type="text" class="form-input" readonly="readonly" value="[[ 'blog/categories/' + category.slug | frontendUrl:category.lang ]]">
    </label>
</div>

<button class="btn--md btn--success" ng-click="save()">Сохранить изменения</button>
<a ng-href="[[ 'store/categories/' + category.slug | frontendUrl:category.lang ]]" class="btn--md btn--default" target="_blank" ng-show="category.id">Открыть на сайте</a>    