<ul class="b-ckplugins-list" ng-controller="CKPluginsCtrl" sticky-panel>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Image')">Изображение</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('SpoilerMore')"  title="Далее">Далее</a>
    </li>
    <!-- <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('BlogMore')"  title="Далее">Подробнее</a>
    </li> -->
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Spoiler')"  title="Спойлер">Спойлер</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Gallery')"  title="Фото-галерея Классик">Галерея</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Iframe')" title="Фото">Iframe</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Delimiter')" title="">Разделитель</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Columns')" title="">Столбцы</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Button')" title="">Кнопка</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Div')"  title="">Окно</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Audio')" title="">Аудио</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('IncludePage')" title="">Страницы</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Youtube')" title="">Видео</a>
    </li>
    <li class="b-ckplugins-list__item">
        <a href="" class="btn--md btn--default" ng-click="plugin('Features')" title="">Фичи</a>
    </li>
</ul>